<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="https://image.flaticon.com/icons/png/512/1828/1828570.png">

  <!-- Whole navbar -->
  <nav class="navbar navbar-expand-lg navbar-nav">
    <div class="container">

      <!-- Brand -->
      <div class="navbar-header">
        <p class="navbar-brand" style="margin:0;">DAILY JOURNAL</p>
      </div>

      <!-- Left navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid" style="padding:0;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="/" style="padding-right: 20px;">HOME</a>
              </li>
              <li class="nav-item">
                <a href="/about">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a href="/contact" style="padding-left: 20px;">CONTACT US</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </nav>




<body>
  <div class="container">
